
	<section id="contact">

			<h1 class="section-heading mb75px white-color">
				<span>
					<i class="fa fa-address-book" aria-hidden="true"></i>
				</span>
				<span>Contact</span>
		    </h1>
		<div id="detail">   
	       <div id="personal-detail">
		      <p>Your Name </p> 
		      <p>Your Email</p>
		      <p>Your Message</p>
			  <button>SEND MESSAGE</button>
	       </div>
	       <div id="company-detail">
	        	<h3>Get in touch</h3>
	        	<p>Coding Ninjas is a one stop destination for understanding data structures and building algorithms from scratch.With great quality online content and video support, difficult topics are presented in a simplified manner.</p>
	        	<h3>My Address</h3>
	        	<ul>
	        		<li>
	        			<span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
	        			<span>Delhi,India</span>
	        		</li>
	        		<li>
	        			<span><i class="fa fa-mobile" aria-hidden="true"></i></span>
	        			<span>8279353979</span>
	        		</li>
	        		<li>
	        			<span><i class="fa fa-envelope" aria-hidden="true"></i></span>
	        			<span>lanchiagrawal11@gmail.com</span>
	        		</li>

	        	</ul>

	        </div>
	   </div>
	   <div>
			<ul class="horizontal_list text_center social-icon">
				<li>
					<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> </a>
				</li>
				<li>
					<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> </a>
				</li>
				<li>
					<a href="#"><i class="fa fa-github" aria-hidden="true"></i> </a>
				</li>
				<li>
					<a href="#"><i class="fa fa-google" aria-hidden="true"></i> </a>
				</li>
				
			</ul>
			

		</div>
    </section>