<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Admin </h1>
    <p>
     A new Book has been added to our DB!
    </p>

    <p> 
    Here are Book Details! <br>
    Name : <%= @name %><br>
    Author : <%= @author %><br>
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>